

<table class="table table-striped" >
  {{#events}}
    <tr>
        <td>{{ title }}</td>
        <td>{{ description }}</td>
         <td>
        <p>Likes: {{ likes }}
        <form method="POST" action="/event/like">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Like">
        </form>
        <form method="POST" action="/event/unlike">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="UN-Like">
        </form>
        </p>
        </td>
    </tr>
  {{/events}}
</table>


